@font-face{
    src: url('../fonts/Gilroy/Radomir Tinkov - Gilroy-Medium.otf');
    font-family: gil;
}
body{
	font-family: gil;
}
.world {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
    background-size: cover;
}

.maskBG
{
    background: url(../img/mask-gradient.png) repeat center center;
    background-size: contain;
    position: fixed;
    top: 8px;
    bottom: 20%;
    left: 8px;
    right: 8px;
}

.pop-up{
    position: absolute;
    background: url(../img/pop_up_image.png) no-repeat center center;
    position: absolute;
    z-index: 1;
    padding: 0px 20px;
    /*border: 1px solid;*/
    /*width: 250px;*/
    max-width: 200px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    background-size: cover;
}

.pop-up:after {
    top: 99%;
    left: 0%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #074d6f;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 18px;
    border-top-width: 30px;
}

.btn1{
    padding: 3px 8px;
    background: #7F3851;
    text-decoration: none!important;
    color: #fff!important;
    border-radius: 5px;
    font-size: 10px;
    margin-right: 0px;
    text-transform: uppercase;
    align-items: center;
    display: inline-flex;
}

.btn1#isLengthy{
    background: rgba(255,196,0,0.5);
}

.green{
    background: #387F5E !important;
    opacity: 0.81;
    /* color: #06044D !important; */
}

.line{
    background: linear-gradient( #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
    /*margin: 10px 0px;*/
}
.flex-div{
	display: inline;
	padding-bottom: 3px;
}
.main-heading{
	color: #fff;
    text-transform: capitalize;
    /* margin: 0; */
/*    margin-bottom: 10px;*/
    padding: 0;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 5px;
}
.side-heading{
	color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.para{
	font-size: 12px;
    color: #fff;
    margin: 0;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
#conceptMastery
{
    margin-bottom: 5px;
}
.perfectClass{
    width: 20px;
    margin-right: 5px;
}
.main-btn{
    display: inline-block;
    color: #333;
    padding: 5px 5px;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 26px;
    /* margin-top: 20px; */
    margin-bottom: 12px;
    width: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    background: url(../img/AchieveBG.png) no-repeat center center;
    background-size: cover;
}
.text-center{
	text-align: center;
}
.sec1{
    /* margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    margin-top: 14px; */
}
.sec{
/*	padding-top: 10px;
    margin-bottom: 10px;*/
    display: flex;
    flex-direction: column;
}
.back-btn{
	position: absolute;
	bottom: 12%;
	left: 43%;
}
.back-btn a{
	font-size: 20px;
	color: #fff;
	display: inline-block;
	padding: 8px 15px;
    background: #413C7E;
    text-transform: capitalize;
    text-decoration: none;
	color: #fff;
	width: 160px;
    text-align: center;
    border-radius: 5px;
}
.check-btn{
	position: absolute;
	bottom: 1%;
	left: 38%;
}
.check-btn a{
	font-size: 20px;
    color: #035F6E !important;
    display: inline-block;
    padding: 10px 25px;
    background: #00E2BD;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}